

body {
    background-repeat: no-repeat;
     align-items: center;
     background: rgb(34,193,195);
     background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
     background-size: cover;
 
 }
 .lista{
    display: flex;
    justify-content: center;
 }
 h1{
    text-align: center;
 }

 table{
    font-size: 2.5rem;
 }