@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');
body {
   background-repeat: no-repeat;
    align-items: center;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-size: cover;

}

h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Lora', serif;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lora', serif;
}

.form {
    margin-top: 10%;
    display: flex;
    justify-content: center;

}

a{
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    color: black;

}

form {
    padding: 2.5rem;
    border: solid black 1px;
    border-radius: 5px;
    background-color: rgba(245, 244, 245, 0.356);
}

form input {
    margin-bottom: 2rem;
    border-radius: 5px;
    width: 15rem;
    height: 2rem;

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 7.5rem;
    height: 2rem;
    border-radius: 5px;
    background-color: rgba(128, 255, 9, 0.801);
    
}
